$fa-font-path: '/assets/fonts';

$flagsImagePath: '/assets/img/';

$sidebar-active-border-left-color: #3c8dbc;

$sidebar-active-border-left-color: #ffb114;

$sidebar-bg-color: #222d32;

$sidebar-submenu-bg-color: #2c3b41;

$sidebar-h4-bg-color: #1a2226;

$sidebar-a-hover-bg-color: #1e282c;

$main-bg-color: #ecf0f5;

$main-message-bg-color: $sidebar-active-border-left-color;

$input-border-focus: rgba(0, 0, 0, 0.075);
