@mixin placeholder {
	::-webkit-input-placeholder {@content}
	:-moz-placeholder {@content}
	::-moz-placeholder {@content}
	:-ms-input-placeholder {@content}  
}

html, body {
	height: 100%;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333333;
	background-color: #ffffff;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	min-height: 100%;
	overflow-x: hidden;
}

canvas {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

@include placeholder {
	color: #b4b4b4 !important;
}

form,
input[type='text'],
input[type='email'],
input[type='password'],
input[type='tel'],
input[type='radio'],
input[type='checkbox'],
select,
textarea,
button {
}

input[type='text']:disabled,
input[type='email']:disabled,
input[type='password']:disabled,
input[type='tel']:disabled,
input[type='radio']:disabled,
input[type='checkbox']:disabled,
select:disabled,
textarea:disabled {
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='tel'],
input[type='radio'],
input[type='checkbox'],
select,
textarea,
button,
.btn,
.btn:focus,
.btn:active,
* {
	outline: 0 !important;
}

a,
.btn {
	font-family: inherit;
	cursor: pointer;
}

.btn {
	border-radius: 17px;
	padding: 0.5rem 1.25rem;
}

.text-gf-red {
	color: $gf-red;
	
	&:hover {
		color: $gf-red;
	}
}

.text-muted-lighter {
	color: #c1c1c1;	
}

.bg-white {
	background-color: #ffffff;
}

.hidden {
	display: none;
}

.text-wrap {
	overflow: wrap;
	white-space: normal;
}

.icon {
	width: 20px;
}

.table-responsive {
	@include media-breakpoint-up(md) {
		display: table;
	}
}

.btn-outline-gf-red {
	color: $gf-red;
	font-family: inherit;
	background-image: none;
	background-color: transparent;
	border-color: $gf-red;
	
	&:hover {
		color: #ffffff;
		background-color: $gf-red;
		border-color: $gf-red;
	}
}

.btn-outline-primary {
	color: $gf-blue;
	font-family: inherit;
	background-image: none;
	background-color: transparent;
	border-color: $gf-blue;
	
	&:hover {
		color: #ffffff;
		background-color: $gf-blue;
		border-color: $gf-blue;
	}
}

.btn-outline-success {
	color: $gf-success;
	font-family: inherit;
	background-image: none;
	background-color: transparent;
	border-color: $gf-success;
	
	&:hover {
		color: #ffffff;
		background-color: $gf-success;
		border-color: $gf-success;
	}
}

.btn-outline-secondary {
	color: #636c72;
	font-family: inherit;
	background-image: none;
	background-color: transparent;
	border-color: #636c72;
	
	&:hover {
		color: #ffffff;
		background-color: #636c72;
		border-color: #636c72;
	} 
}
 
.form-control {
	font-family: inherit !important;
	font-size: 14px !important;
	
	&:focus {
		border-color: rgba(151, 151, 151, 1);
	}
}

.message {
	display: none;
	margin-right: -15px;
	margin-left: -15px;
	margin-bottom: 0;
	padding: 20px 30px;
	background-color: $main-message-bg-color;
	color: #ffffff;
	font-weight: 600;
	font-size: 16px;
	
	a,
	a:hover {
		color: #ffffff;
		background-color: transparent;
		text-decoration: none;
	}
}

.message.success {
	display: block;
	background-color: green;
}

.message.info {
	display: block;
	background-color: $gf-info;
}

.message.warning {
	display: block;
	background-color: $gf-warning;
}

.message.danger {
	display: block;
	background-color: $main-message-bg-color;	
}
