@import 'variables';

@import 'node_modules/bootstrap/scss/bootstrap';

@import 'node_modules/font-awesome/scss/font-awesome';

html, body {
	height: 100%;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333333;
	background-color: #ffffff;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	min-height: 100%;
	overflow-x: hidden;
}

.btn {
	cursor: pointer;	
}

form,
input[type='text'],
input[type='radio'],
input[type='checkbox'],
select,
textarea,
button {
}

.btn,
.btn:focus,
.btn:active,
* {
	outline: 0 !important;
}

.icon {
	width: 20px;
}

.message {
	display: none;
	margin-right: -15px;
	margin-left: -15px;
	margin-bottom: 0;
	padding: 20px 30px;
	background-color: $main-message-bg-color;
	color: #ffffff;
	font-weight: 600;
	font-size: 16px;
	
	a,
	a:hover {
		color: #ffffff;
		background-color: transparent;
		text-decoration: none;
	}
}

.message.success {
	display: block;
	background-color: green;
}

.message.info {
	display: block;
	background-color: $gf-info;
}

.message.warning {
	display: block;
	background-color: $gf-warning;
}

.message.danger {
	display: block;
	background-color: $main-message-bg-color;	
}
	